.container {
  padding: 0 40px 20px 40px;

  .top {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    .heading {
      color: whitesmoke;
      font-size: 40px;
      margin: 0 20px 0 0;
    }

    .id {
      margin: 10px 0 0 0;
      color: whitesmoke;
      font-size: 25px;
    }
  }

  .tags {
    display: flex;
    margin-bottom: 10px;
  }

  .image {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    height: 240px;
    width: 240px;
  }
}
