.background {
  background-color: #f7f7f7;
  border-radius: 30px;
  min-width: 320px;
  max-width: 414px;
  padding-top: 50px;
  padding-bottom: 30px;

  .header {
    margin: 0 0 30px 46px;
    font-size: 40px;
  }

  .grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row-gap: 15px;
    justify-items: center;
    margin: 10px 30px 10px 30px;
  }
}
