.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 140px;
  width: 140px;
  background-color: white;
  box-shadow: 1px 1px 8px lightgray;

  .image {
    height: 50px;
    width: 50px;
  }

  .name {
    color: dimgray;
    text-transform: capitalize;
  }
}
